@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Ubuntu+Mono&display=swap');

::-webkit-scrollbar {
    width: 10px;
    display: none;
}
::-webkit-scrollbar-track {
    background-color: transparent;
    display: none;
}
::-webkit-scrollbar-thumb {
    background: #2F3142;
    display: none;
}
textarea:focus, input:focus{
    outline: none;
}